<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SaveReportPurchasePdfURL" value="C:/ChampSolutions/Files/Purchase/PDF/" />
    <add key="SaveReportPurchaseExcelURL" value="C:/ChampSolutions/Files/Purchase/Excel/" />
    <add key="SaveReportRawMaterialPdfURL" value="C:/ChampSolutions/Files/RawMaterial/" />
    <add key="SaveExcelURL" value="C:\ChampSolutions\Files\SaveExcel\" />
    <add key="PrinterMachine" value="\\PCAAA\Canon LBP2900" />
    <add key="LabelMachinePrinter" value="\\TIGERPC\Godex G500" />
    <add key="LoginUrl" value="~/Account/GetLogin" />
    <add key="AccountShareFolder" value="mylove|123456"/>
    <add key="StockName" value="mystamp"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error redirect="~/MasterSetting/ErrorMessage/NotFound" statusCode="404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="20" />
    <!--20 minute-->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/GetLogin" timeout="28800" />
      <!--8 hour-->
    </authentication>
  </system.web>
  
  <connectionStrings>
    <add name="TopProSystemEntities" connectionString="metadata=res://*/Areas.MasterSetting.Models.Model.csdl|res://*/Areas.MasterSetting.Models.Model.ssdl|res://*/Areas.MasterSetting.Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC5;initial catalog=TopproSystem;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework> 
  
</configuration>