@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


@*<button id="open-menu-toggle" title=""><i class="fa fa-arrow-right"></i></button>*@
<div style=" min-height: 768px; background-color: #fff; padding-bottom: 10px">
    <div class="px-2" style="font-size: 40px; ">
        <span class="header-text-color">@ViewBag.content</span>
    </div>
    <div class="px-2">
        @RenderBody()
    </div>

</div>


@RenderSection("scripts", false)