@using StaticResources
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@RenderSection("scripts", false)
<script>

    function openMenuMobile() {
        $('#open-menu-toggle').click();
    }
</script>
<div style=" min-height: 768px; background-color: #fff; padding-bottom: 10px">
    <div class="px-2" style="font-size: 40px; ">
        <span class="header-text-color">@ViewBag.content</span>
    </div>
    <div class="px-2">
        @RenderBody()
    </div>

</div>

<div class="menu-hide" id="menu-desktop">
    <div class="header-menu">
        <strong><i class="fa fa-bars"></i> Inventory Menu</strong>
        <button id="close-menu-toggle" title="@RLayout.Togglemenu" onclick="closeHiddenMenu()"><i class="fa fa-times"></i></button>
    </div>
    <div class="menu-hide-content">
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link " href="/Inventory/InventoryEnquiry">Inventory Inquiry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Change Inventory</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Scrap To Finished Good</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Finished Good To Scrap</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Change Status Code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Location Change</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Own Usage</a>
            </li>
        </ul>
    </div>
</div>

