
@{
    Layout = null;
}
<div class="menu-hide d-none" id="menu-mobile">
    <div class="header-menu">
        <strong><i class="fa fa-bars"></i> Raw Material Menu</strong>
        <button id="close-menu-toggle"  onclick="closeHiddenMenu()"><i class="fa fa-times"></i></button>
    </div>
    <div class="menu-hide-content">
        <ul class="list-unstyled">
            <li class="nav-item">
                <a class="nav-link" href="/RawMaterial/GetRawMaterialWarehousingResult">Raw Material Warehousing Result</a>
            </li>
  
        </ul>
    </div>
</div>
