<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode>

    <siteMapNode Resource="MainMenu" SystemName="Sale Purchase" name="Sale Purchase" PermissionNames="Purchase" controller="Purchase" action="GetPurchaseContractEntry" />
    <siteMapNode Resource="MainMenu"   SystemName="Raw Material" name="Raw Material" PermissionNames="AccessRawMaterial" controller="RawMaterial" action="GetRawMaterialWarehousingEntry" />
    <siteMapNode Resource="MainMenu" SystemName="Sales" name="Sales" PermissionNames="AccessSales" controller="Sales" action="SaleOrderEntry"/>
    <siteMapNode Resource="MainMenu" SystemName="Production" name="Production" PermissionNames="AccessProduction" controller="Production" action="Index" />
    <siteMapNode Resource="MainMenu" SystemName="Packing" name="Packing" PermissionNames="AccessPacking" controller="Packing" action="Index" />
    <siteMapNode Resource="MainMenu" SystemName="Delivery" name="Delivery" PermissionNames="AccessDelivery" controller="Delivery" action="Index" />
    <siteMapNode Resource="MainMenu" SystemName="Inventory" name="Inventory" PermissionNames="AccessInventory" controller="Inventory" action="Index" />
    <siteMapNode Resource="MainMenu" SystemName="Inspection" name="Inspection" PermissionNames="AccessInspection" controller="Inspection" action="Index" />
    <siteMapNode Resource="MainMenu" SystemName="Master" name="Master" PermissionNames="Master" Area="MasterSetting" controller="Master" action="SalePurchaseMaster" />
    <siteMapNode Resource="MainMenu" SystemName="Planning" name="Planning" PermissionNames="AccessPlanning" controller="Planning" action="Index" />
    <siteMapNode Resource="MainMenu" SystemName="Account" name="Account" PermissionNames="AccessAccount" controller="Account" action="Permissions" />

  </siteMapNode>
</siteMap>

