<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode>
    <siteMapNode Resource="Master"  SystemName="SalePurchaseMaster" name="SalePurchaseMaster" PermissionNames="SalePurchaseMaster" Area="MasterSetting" controller="Master" action="SalePurchaseMaster" />
    <siteMapNode Resource="Master" SystemName="UserMaster" name="UserMaster" PermissionNames="UserMaster" Area="MasterSetting" controller="Master" action="UserMaster" />
    <siteMapNode Resource="Master" SystemName="UserIDMaster" name="UserIDMaster" PermissionNames="UserIDMaster" Area="MasterSetting" controller="Master" action="UserIDMaster" />
    <siteMapNode Resource="Master" SystemName="LocationMaster" name="LocationMaster" PermissionNames="LocationMaster" Area="MasterSetting" controller="Master" action="LocationMaster" />
    <siteMapNode Resource="Master" SystemName="CoatingMaster" name="CoatingMaster" PermissionNames="CoatingMaster" Area="MasterSetting" controller="Master" action="CoatingMaster" />
    <siteMapNode Resource="Master" SystemName="SpecMaster" name="SpecMaster" PermissionNames="SpecMaster" Area="MasterSetting" controller="Master" action="SpecMaster" />
    <siteMapNode Resource="Master" SystemName="ClosingDateMaster" name="ClosingDateMaster" PermissionNames="ClosingDateMaster" Area="MasterSetting" controller="Master" action="ClosingDateMaster" />
    <siteMapNode Resource="Master" SystemName="Product" name="Product" PermissionNames="ProductMaster" Area="MasterSetting" controller="Master" action="Product" />
    <siteMapNode Resource="Master" SystemName="ExchangeRateMaster" name="ExchangeRateMaster" PermissionNames="ExchangeRateMaster" Area="MasterSetting" controller="Master" action="ExchangeRateMaster" />
    <siteMapNode Resource="Master" SystemName="TaxMaster" name="TaxMaster" PermissionNames="TaxMaster" Area="MasterSetting" controller="Master" action="TaxMaster" />
    <siteMapNode Resource="Master" SystemName="CreditMaster" name="CreditMaster" PermissionNames="CreditMaster" Area="MasterSetting" controller="Master" action="CreditMaster" />
    <siteMapNode Resource="Master" SystemName="RawMaterialTypeMaster" name="RawMaterialTypeMaster" PermissionNames="RawMaterialTypeMaster" Area="MasterSetting" controller="Master" action="RawMaterialTypeMaster" />
    <siteMapNode Resource="Master" SystemName="SteelGradeMaster" name="SteelGradeMaster" PermissionNames="SteelGradeMaster" Area="MasterSetting" controller="Master" action="SteelGradeMaster" />
    <siteMapNode Resource="Master" SystemName="DueDateTypeMaster" name="DueDateTypeMaster" PermissionNames="DueDateTypeMaster" Area="MasterSetting" controller="Master" action="DueDateTypeMaster" />
    <siteMapNode Resource="Master" SystemName="DaysInMonthMaster" name="DaysInMonthMaster" PermissionNames="DaysInMonthMaster" Area="MasterSetting" controller="Master" action="DaysInMonthMaster" />
    <siteMapNode Resource="Master" SystemName="CalculationTypeMaster" name="CalculationTypeMaster" PermissionNames="CalculationTypeMaster" Area="MasterSetting" controller="Master" action="CalculationTypeMaster" />
    <siteMapNode Resource="Master" SystemName="WeightDisplayCodeMaster" name="WeightDisplayCodeMaster" PermissionNames="WeightDisplayCodeMaster" Area="MasterSetting" controller="Master" action="WeightDisplayCodeMaster" />
    <siteMapNode Resource="Master" SystemName="MakerCodeMaster" name="MakerCodeMaster" PermissionNames="MakerCodeMaster" Area="MasterSetting" controller="Master" action="MakerCodeMaster" />
    <siteMapNode Resource="Master" SystemName="CommodityCodeMaster" name="CommodityCodeMaster" PermissionNames="CommodityCodeMaster" Area="MasterSetting" controller="Master" action="CommodityCodeMaster" />
    <siteMapNode Resource="Master" SystemName="StatusCodeMaster" name="StatusCodeMaster" PermissionNames="StatusCodeMaster" Area="MasterSetting" controller="Master" action="StatusCodeMaster" />
    <siteMapNode Resource="Master" SystemName="SectionCodeMaster" name="SectionCodeMaster" PermissionNames="SectionCodeMaster" Area="MasterSetting" controller="Master" action="SectionCodeMaster" />
    <siteMapNode Resource="Master" SystemName="DamageCodeMaster" name="DamageCodeMaster" PermissionNames="DamageCodeMaster" Area="MasterSetting" controller="Master" action="DamageCodeMaster" />
    <siteMapNode Resource="Master" SystemName="CountryCodeMaster" name="CountryCodeMaster" PermissionNames="CountryCodeMaster" Area="MasterSetting" controller="Master" action="CountryCodeMaster" />
    <siteMapNode Resource="Master" SystemName="BusinessTypeCodeMaster" name="BusinessTypeCodeMaster" PermissionNames="BusinessTypeCodeMaster" Area="MasterSetting" controller="Master" action="BusinessTypeCodeMaster" />
    <siteMapNode Resource="Master" SystemName="CurrencyCodeMaster" name="CurrencyCodeMaster" PermissionNames="CurrencyCodeMaster" Area="MasterSetting" controller="Master" action="CurrencyCodeMaster" />
    <siteMapNode Resource="Master" SystemName="ShiftCodeMaster" name="ShiftCodeMaster" PermissionNames="ShiftCodeMaster" Area="MasterSetting" controller="Master" action="ShiftCodeMaster" />
    <siteMapNode Resource="Master" SystemName="MachineNoMaster" name="MachineNoMaster" PermissionNames="MachineNoMaster" Area="MasterSetting" controller="Master" action="MachineNoMaster" />
    <siteMapNode Resource="Master" SystemName="GradeMaster" name="GradeMaster" PermissionNames="GradeMaster" Area="MasterSetting" controller="Master" action="GradeMaster" />
    <siteMapNode Resource="Master" SystemName="ReasonForChangingMaster" name="ReasonForChangingCodeMaster" PermissionNames="ReasonForChangingMaster" Area="MasterSetting" controller="Master" action="ReasonForChangingMaster" />
    <siteMapNode Resource="Master" SystemName="BankCodeMaster" name="BankCodeMaster" PermissionNames="BankCodeMaster" Area="MasterSetting" controller="Master" action="BankCodeMaster" />
    <siteMapNode Resource="Master" SystemName="ExchangeRateTypeMaster" name="ExchangeRateTypeMaster" PermissionNames="ExchangeRateTypeMaster" Area="MasterSetting" controller="Master" action="ExchangeRateTypeMaster" />
    <siteMapNode Resource="Master" SystemName="PriceTermMaster" name="PriceTermMaster" PermissionNames="PriceTermMaster" Area="MasterSetting" controller="Master" action="PriceTermMaster" />
    <siteMapNode Resource="Master" SystemName="SettlementTermMaster" name="SettlementTermMaster" PermissionNames="SettlementTermMaster" Area="MasterSetting" controller="Master" action="SettlementTermMaster" />
    <siteMapNode Resource="Master" SystemName="TypeofTermsMaster" name="TypeofTermsMaster" PermissionNames="TypeofTermsMaster" Area="MasterSetting" controller="Master" action="TypeofTermsMaster" />
    <siteMapNode Resource="Master" SystemName="PackingTypeMaster" name="PackingTypeMaster" PermissionNames="PackingTypeMaster" Area="MasterSetting" controller="Master" action="PackingTypeMaster" />
    <siteMapNode Resource="Master" SystemName="InterruptedReasonCodeMaster" name="InterruptedReasonCodeMaster" PermissionNames="InterruptedReasonCodeMaster" Area="MasterSetting" controller="Master" action="InterruptedReasonCodeMaster" />
    <siteMapNode Resource="Master" SystemName="DeliveryConditionMaster" name="DeliveryConditionMaster" PermissionNames="DeliveryConditionMaster" Area="MasterSetting" controller="Master" action="DeliveryConditionMaster" />
    <siteMapNode Resource="Master" SystemName="ContractTypeMaster" name="ContractTypeMaster" PermissionNames="ContractTypeMaster" Area="MasterSetting" controller="Master" action="ContractTypeMaster" />
    <siteMapNode Resource="Master" SystemName="TradeCategoryMaster" name="TradeCategoryMaster" PermissionNames="TradeCategoryMaster" Area="MasterSetting" controller="Master" action="TradeCategoryMaster" />
    <siteMapNode Resource="Master" SystemName="InventoryStatusMaster" name="InventoryStatusMaster" PermissionNames="InventoryStatusMaster" Area="MasterSetting" controller="Master" action="InventoryStatusMaster" />
    <siteMapNode Resource="Master" SystemName="InventoryTypeMaster" name="InventoryTypeMaster" PermissionNames="InventoryTypeMaster" Area="MasterSetting" controller="Master" action="InventoryTypeMaster" />
    <siteMapNode Resource="Master" SystemName="MoneyTypeMaster" name="MoneyTypeMaster" PermissionNames="MoneyTypeMaster" Area="MasterSetting" controller="Master" action="MoneyTypeMaster" />
    <siteMapNode Resource="Master" SystemName="UnitPriceUnitMaster" name="UnitPriceUnitMaster" PermissionNames="UnitPriceUnitMaster" Area="MasterSetting" controller="Master" action="UnitPriceUnitMaster" />
    <siteMapNode Resource="Master" SystemName="LogTypeMaster" name="LogTypeMaster" PermissionNames="LogTypeMaster" Area="MasterSetting" controller="Master" action="LogTypeMaster" />
    <siteMapNode Resource="Master" SystemName="DataTypeMaster" name="DataTypeMaster" PermissionNames="DataTypeMaster" Area="MasterSetting" controller="Master" action="DataTypeMaster" />
    <siteMapNode Resource="Master" SystemName="WeightCalculationCodeMaster" name="WeightCalculationCodeMaster" PermissionNames="WeightCalculationCodeMaster" Area="MasterSetting" controller="Master" action="WeightCalculationCodeMaster" />

  </siteMapNode>
</siteMap>

