<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode>
    <siteMapNode Resource="Purchase" SystemName="PurchaseOrderEntry" name="PurchaseOrderEntry" PermissionNames="PurchaseOrderEntry" Area="" controller="Purchase" action="GetPurchaseContractEntry" />
    <siteMapNode Resource="Purchase" SystemName="PurchaseOrderBalanceEnquiry" name="PurchaseOrderBalanceEnquiry" PermissionNames="PurchaseOrderBalanceEnquiry" Area="" controller="Purchase" action="GetPurchaseOrderBalanceEnquiry" />
    <siteMapNode Resource="Purchase" SystemName="PurchaseOrderCompletion" name="PurchaseOrderCompletion" PermissionNames="PurchaseOrderCompletion" Area="" controller="Purchase" action="GetPurchaseOrderCompletion" />
    <siteMapNode Resource="Purchase" SystemName="PurchaseHistoryEnquiry" name="PurchaseHistoryEnquiry" PermissionNames="PurchaseHistoryEnquiry" Area="" controller="Purchase" action="GetPurchaseHistoryEnquiry" />
    <siteMapNode Resource="Purchase" SystemName="PrintPurchaseOrder" name="PrintPurchaseOrder" PermissionNames="PrintPurchaseOrder" Area="" controller="Purchase" action="GetPrintPurchaseOrder" />
  </siteMapNode>
</siteMap>

