
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notification</title>
</head>
<body>
    <div> 
        <center style="font-size: 24px;">Some error is happening for action @ViewBag.actionname, please contact support !</center>
    </div>
</body>
</html>
